<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Crypto Hub</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fas fa-briefcase" aria-hidden="true"></span> Portfolio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="trends">
                <span class="fas fa-chart-line" aria-hidden="true"></span> Trends
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="fas fa-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
